body {
  background-image: url(../calculator.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 270px;
  height:470px;
  border: 2px dashed #333;
}

.button{
  /* visibility: hidden; */
  width: 14px;
  height:12px;
  margin:12px;
  /* background-color:red; */
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor:pointer;
  border-radius: 3px;
  border: 1px dashed #333;
}

#buttonset{
  margin-top:8px;
}

#plus{
  margin-top:40px;
}

#display{
  width:250px;
  height:80px;
  margin-top:58px;
  padding-top: 18px;
  background-color:rgb(160, 160, 160);
  border-style: dashed;
  font-size: 70px;
  font-family: ds-digitalnormal;
  text-align:right;
  vertical-align:text-bottom;
  color:black;
}

#clear{
  background-color:#914e60;
  color:white;
}

.panel{
  /* background-color: #d2d2d7; */
  cursor:default;
  height:930px;
}

@font-face {
  font-family: 'ds-digitalnormal';
  src: url('ds-digi-webfont.woff2') format('woff2'),
       url('ds-digi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}