body {
  background-image: url(../calculator.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 1000px;
  height:1000px;
  border: 2px dashed #333;
}

.button{
  width: 15px;
  height:15px;
  background-color: #3d3c42;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor:pointer;
  border-radius: 3px;
  
  
   }

#display{
  width:857px;
  height:80px;
  /* padding-top: 70px; */
  background-color:rgb(160, 160, 160);
  border-style: dashed;
  font-size: 90px;
  font-family: ds-digitalnormal;
  text-align:right;
  vertical-align:text-bottom;
  color:black;
}

#clear{
  background-color:#914e60;
  color:white;
}

.panel{
  /* background-color: #d2d2d7; */
  cursor:default;
  height:930px
}

#equals{
  background-color:rgb(11, 11, 175);
}

.number{
  background-color:
rgb(100, 100, 100)

}


@font-face {
  font-family: 'ds-digitalnormal';
  src: url('ds-digi-webfont.woff2') format('woff2'),
       url('ds-digi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}