body {
  background-image: url(../calculator.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 270px;
  height:470px;
  /* border: 2px dashed #333; */
}

.button{
  /* change to 100 to see buttons */
  opacity: 0;  
  width: 39px;
  height:40px;
  line-height: 50px;
  margin:3px;
  background-color:red;
  border: dashed;
  color: white;
  /* padding: 1px 1px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor:pointer;
  border-radius: 16px;
  border: 1px dashed #333;
}

.dummybutton{
  /* change to 100 to see buttons */
  opacity: 0;  
  width: 39px;
  height:40px;
  line-height: 50px;
  margin:3px;
  background-color:yellowgreen;
  border: dashed;
  color: white;
  /* padding: 1px 1px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor:pointer;
  border-radius: 16px;
  border: 1px dashed #333;
}

#buttonset{
  margin-top:8px;
  margin-left:5px;
}

.plus{
  margin:0px;
  padding:3px;
}

#display{
  width: 242px;
  height:74px;
  margin-top:75px;
  margin-left:10px;
  padding-top: 10px;
  background-color:rgb(160, 160, 160);
  /* border-style: dashed; */
  font-size: 60px;
  font-family: ds-digitalnormal;
  text-align:right;
  vertical-align:text-bottom;
  color:black;
  letter-spacing: 0px;

}

#clear{
  background-color:#914e60;
  color:white;
}

.panel{
  /* background-color: #d2d2d7; */
  cursor:default;
  height:930px;
}

@font-face {
  font-family: 'ds-digitalnormal';
  src: url('ds-digi-webfont.woff2') format('woff2'),
       url('ds-digi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}